[submodule "modules/monit"]
	path = modules/monit
	url = https://github.com/anon-admin/monit.git
[submodule "modules/iptables"]
	path = modules/iptables
	url = https://github.com/anon-admin/iptables.git
[submodule "modules/rsyslog"]
	path = modules/rsyslog
	url = https://github.com/anon-admin/rsyslog.git
[submodule "modules/simple_puppet"]
	path = modules/simple_puppet
	url = https://github.com/anon-admin/simple_puppet.git
